.bg-dark-gray { background-color: #202225; }
.bg-dark-page { background-color: #2F3136; }
.bg-dark-box { background-color: #36393F; }

a {
  color: #474747 !important;
  text-decoration: none;
}

a:hover {
  color: #333 !important;
}
